doctype html
html
    head
        title IDE
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/ide.min.css", rel="stylesheet")
    body
        div.section-top.navbar.navbar-fixed-top.navbar-default(role='banner')
            a.navbar-brand(id='btn-home', href='#') workspace.name
        div.section-left Left Space
        div.section-main Editor
        script(src='js/ide.min.js')