@import "Core";

$boxlayout-sep-line-width: 1px;
$boxlayout-sep-line-halfwidth: $boxlayout-sep-line-width / 2;
$boxlayout-padding: $boxlayout-sep-line-halfwidth;
$boxlayout-sep-resize-width: 8px;
$boxlayout-sep-resize-halfwidth: $boxlayout-sep-resize-width / 2;

.boxlayout {
  @include pos-absolute(0, 0, 0, 0);
}

.boxlayout-item, .boxlayout-separator {
  position: absolute;
}
.boxlayout-item > div {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.boxlayout-separator::before {
  content: "";
  background: $border-color;
  z-index:1;
  position:absolute;
}
.boxlayout-canresize > .boxlayout-separator::after {
  content: "";
  z-index:10;
  position:absolute;
}

.boxlayout-horizontal.boxlayout-canresize > .boxlayout-separator {
  cursor:ew-resize;
}
.boxlayout-vertical.boxlayout-canresize > .boxlayout-separator {
  cursor:ns-resize;
}
.boxlayout-horizontal.boxlayout-canresize > .boxlayout-item {
  padding:0 $boxlayout-padding;
}
.boxlayout-vertical.boxlayout-canresize > .boxlayout-item {
  padding:$boxlayout-padding 0;
}
.boxlayout-canresize > .boxlayout-item:first-child {
  padding-left:0;
  padding-top:0;
}
.boxlayout-canresize > .boxlayout-item:last-child {
  padding-right:0;
  padding-bottom: 0;
}
.boxlayout-horizontal > .boxlayout-item,
.boxlayout-horizontal > .boxlayout-separator {
  top:0;
  bottom:0;
}
.boxlayout-vertical > .boxlayout-item,
.boxlayout-vertical > .boxlayout-separator {
  left:0;
  right:0;
}

.boxlayout-horizontal > .boxlayout-separator::before {
  @include pos-absolute(0, auto, 0, -$boxlayout-sep-line-halfwidth);
  width: $boxlayout-sep-line-width;
}
.boxlayout-vertical > .boxlayout-separator::before {
  @include pos-absolute(-$boxlayout-sep-line-halfwidth, 0, auto, 0);
  height: $boxlayout-sep-line-width;
}
.boxlayout-horizontal.boxlayout-canresize > .boxlayout-separator::after {
  @include pos-absolute(0, auto, 0, -$boxlayout-sep-resize-halfwidth);
  width: $boxlayout-sep-resize-width;
}
.boxlayout-vertical.boxlayout-canresize > .boxlayout-separator::after {
  @include pos-absolute(-$boxlayout-sep-resize-halfwidth, 0, auto, 0);
  height: $boxlayout-sep-resize-width;
}