@mixin pos-absolute($top, $right, $bottom, $left) {
  position:absolute;
  @if $top     != auto {     top:$top; }
  @if $left    != auto {    left:$left; }
  @if $right   != auto {   right:$right; }
  @if $bottom  != auto {  bottom:$bottom; }
}

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}