@import "Core";

.docklayout {
  @include pos-absolute(0, 0, 0, 0);
}

.docklayout-overlay {
  @include pos-absolute(0, 0, 0, 0);
  // background: rgba(1.0,0,0,0.5);
  z-index:2000;
  width: 100%;
  height: 100%;
}

.docklayout-placeholder {
  z-index: 100;
  position: fixed;
  pointer-events: none;
  background: rgba(0, 0, 0, .25);
}

.docklayout-drop {
  top: 0 !important;
  z-index: 1040;
}
.docklayout-drop > .boxlayout {
  top: 25px !important;
  right: 25px !important;
  bottom: 25px !important;
  left: 25px !important;
}
