@import "Core";

.editor {
  @include pos-absolute(0,0,0,0);
}
.editor-ace {
  position: absolute !important;
  @include pos-absolute(0,0,0,0);
}

@media (max-resolution: 120dpi) {
  /* On non HiDPI display, webkit font rendering of white code on dark background looks bad */
  .ace_dark {
    -webkit-font-smoothing: antialiased;
  }
}

.editor-status {
  @include noselect;
  position: absolute !important;
  background: $background-color;
  border-top-left-radius: 5px;
  z-index: 1;
  color: $text-soft-color;
  text-align: right;
  font-size: 0.9em;
  bottom: 0;
  right: 0;
  padding-right: 4px;
  padding-bottom: 4px;
}

.editor-status > * {
  margin: 0 5px;
  display: inline-block;
}
.editor-status > a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
.editor-status > a:hover {
  color: $text-color;
}

.editorview-title-modified {
  color: $error-color;
}
.editor-status-padh {
  padding-bottom: 0;
  bottom: 14px;
}
.editor-status-padv {
  padding-right: 0;
  right: 14px;
}