.fa-file-ico {
  position: relative;
}
.fa-file-ico::before {
  content: if($theme == "dark", "\f15b", "\f016");
}
.fa-file-ico::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 0.8em;
}
.fa-file-ico-m::after, .fa-file-ico-mm::after {
  color: #004582;
  content: "m";
}
.fa-file-ico-c::after, .fa-file-ico-cc::after, .fa-file-ico-cpp::after {
  color: #004582;
  content: "c";
}
.fa-file-ico-h::after {
  color: #A94442;
  content: "h";
}
.fa-file-ico-js::after {
  color: #A94442;
  content: "js";
}