@import "Core";

body {
  background: $background-color;
  color: $text-color;
  @include pos-absolute(0,0,0,0);
}

body > div > .docklayout {
  top: 26px;
}

li.dropdown-item {
  cursor: default;
}

.menu-title > li {
  padding: 3px 10px;
  cursor: default;
}

.navbar {
  padding: 0;
  text-align: center;
  height: 26px;
  min-height: initial;
  border-bottom: 1px solid $border-color;
}

.navbar-status {
  height: 20px;
  margin: auto;
  margin-top: 2px;
}

.navbar-status .btn, .ide-status {
  height: 20px;
  padding: 0px 6px;
}

.navbar > .fa-circle {
  float:right;
  height: 24px;
  vertical-align: middle;
  margin-right: 4px;
  line-height: 24px;
  color: $success-background-color;
}

.navbar > .fa-circle.text-danger {
  color: $error-background-color;
}

.modal, .modal-backdrop {
  position: absolute;
}
.modal-backdrop {
  z-index: 0;
}

.ide-status {
  overflow: hidden;
  color: $input-color;
  background-color: $input-bg;
  border-color: $input-border-color;
  border-top-left-radius: 4px;
  position: relative;
  margin-right: -1px;
  float: left;
  display: inline-block;
  width: 250px;
  border-width: 1px;
  border-style: solid;
  border-bottom-left-radius: 4px;
}

.ide-status > .progress-line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.ide-status > :first-child > .pull-right {
    margin-right: -4px;
    font-size: 0.9em;
}

ul.nav.menu-title {
    float: left;
}

.dropdown-menu {
  font-size: 12px;
  display: block;
  margin: 0;
  z-index: 2000;
}

.dropdown-menu > li > a, .menu-title > li > a
{ cursor: default; }

.dropdown-item.open, .nav-item.open {
  background-color: $dropdown-link-hover-bg;
  color: $dropdown-link-hover-color;
}
.dropdown-divider {
  margin: 5px 10px;
}
.nav > li > a:focus {
  background-color: inherit;
}

.menus > .menu-right, .menus > .menu-left {
  position: absolute;
  top: -6px;
}

.dropdown-caret {
  position: absolute;
  height: 23px;
  right: 0;
  line-height: 23px;
  float: right;
}

/* {
  @include noselect;
}*/

.fill {
  position: absolute !important;
  @include pos-absolute(0,0,0,0);
}

.dropdown-menu > li > hr {
    margin: 5px -5px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-width: 0;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.checklist-item {
  margin: 5px 0;
  cursor: default;
}

.checklist-item > span {
  vertical-align: middle;
  margin-left: 5px;
}

.form-control-checkbox {
  vertical-align: middle;
  display: inline-block;
  user-select: none;
  margin: 0;
  width: 24px;
  height: 24px;
  padding: 0;
}

.form-control-checkbox.checked::before {
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  font-size: 23px;
  color: #428bca;
}

.form-control-checkbox.disabled::before {
  color: #555;
}

.form-control-checkbox.disabled {
  background:#eee;
}

.menu-title > li {
    position: relative;
    display: block;
    float: left;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.menu-title > li > a {
  color: #777;
  padding: 2px 10px 2px 10px;
  line-height: 20px;
}

.menu-title > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.menu-contextmenu {
    overflow: auto;
    z-index: 2000;
    position: fixed;
    bottom: auto;
    top: auto;
}

.menuitem-checked::before {
  margin-left: -20px;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  width: 20px;
  display: inline-block;
  text-align: center;
}

.settings-title {
    padding: 5px;
    font-weight: 300;
    border-bottom: 1px solid $border-soft-color;
}

.settings ul > li {
    padding: 5px;
    list-style-type: none;
}

.settings ul {
    padding: 0;
}

.badge-warning, .badge-error, .badge-note {
  display: inline-block;
  padding:0 2px;
}
.badge-warning:before, .badge-error:before, .badge-note::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right:2px;
}
.badge-warning:before {
  content: "\f071";
  color: $warning-color;
}
.badge-error:before {
  font-size: 1.1em;
  content: "\f06a";
  color: $error-color;
}
.badge-note::before {
    content: "\f075";
    color: $note-color;
}

.badge-right {
  font-size: 0.9em;
  position: absolute;
  right: 0;
  background: $active-color;
  padding: 0 2px;
  border-radius: 6px 0 0 6px;
}

.tree-item-task-name {
  position: relative;
}

.diagnostic:before {
  margin: 1px 10px -1px 0;
  float: left;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 32px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right:2px;
}
.diagnostic-warning:before {
  content: "\f071";
  color: $warning-color;
}
.diagnostic-error:before {
  content: "\f06a";
  color: $error-color;
}

.diagnostic {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid $border-soft-color;
  border-left-width: 5px;
  border-radius: 3px;
}

.diagnostic > .diagnostic {
  margin-top: 10px;
  margin-bottom: 0;
}

.diagnostic > :first-child {
  min-height: 32px;
  line-height: 32px;
  margin-bottom: 6px;
}

.diagnostic-warning {
  border-left-color: $warning-color;
}
.diagnostic-error {
  border-left-color: $error-color;
}
.diagnostic-note {
  border-left-color: $note-color;
}

.progress-line {
  height: 2px;
  margin-top: -2px;
}
.progress-line::before {
  content: ' ';
  display: block;
  width: 100%;
  background: white;
  margin-bottom: -2px;
  height: 2px;
}
.progress-line > div {
  width: 0%;
  height: 2px;
  transition: width 0.2s, background-color 0.2s;
  background: #0089FF;
}
.progress-line > div.text-danger {
  background: $error-background-color;
}
.progress-line > div.text-success {
  background: $success-background-color;
}

::-webkit-scrollbar {
  background: none;
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  border: solid 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 5px rgba(128, 128, 128, 0.2);
}
::-webkit-scrollbar-thumb:vertical {
  border-right-width: 3px;
  border-left-width: 4px;
  border-radius: 10px/6px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-top-width: 4px;
  border-bottom-width: 3px;
  border-radius: 6px/10px;
}
::-webkit-scrollbar-track-piece {
  margin: 4px;
}
::-webkit-scrollbar-corner {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO4+x8AArwB3RPLbL0AAAAASUVORK5CYII=) transparent no-repeat;
}

/*
::-webkit-scrollbar:vertical {
  border-left: 1px solid #ddd;
}
::-webkit-scrollbar:horizontal {
  border-top: 1px solid #ddd;
}
.ace_scrollbar::-webkit-scrollbar:vertical {
  border-left: 0;
}
.ace_scrollbar::-webkit-scrollbar:horizontal {
  border-top: 0;
}
*/

@import "BoxLayout";
@import "TabLayout";
@import "DockLayout";
@import "TreeView";
@import "ContextMenu";
@import "EditorView";
@import "GoToView";
@import "SearchInFiles";
@import "TerminalView";
@import "CounterpartsView";
