@import "Core";
@import "BoxLayout";
@import "TabLayout";
@import "DockLayout";
@import "TreeView";
@import "ContextMenu";

body > div > .docklayout {
  top: 62px;
}

* {
  @include noselect;
}

.tablayout {
  border: 1px solid #C9C9C9;
}

.editor {
  @include pos-absolute(0,0,0,0);
}
.editor-ace {
  position: absolute !important;
  @include pos-absolute(0,0,15px,0);

}
.editor-status {
  position: absolute !important;
  @include pos-absolute(auto,0,0,0);
  height: 15px;
  overflow: hidden;
  background: #2F3129;
  color: #8F908A;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', 'Droid Sans Mono', monospace;
  text-align: right;
  padding: 0px 5px;
}

.editorview-title-modified {
  color: red;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-width: 0;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}