doctype html
html
    head
        title IDE
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        if debug
            link(href="css/bootstrap.css", rel="stylesheet")
            link(href="css/ide.css", rel="stylesheet")
        else
            link(href="ide.css", rel="stylesheet")
    body
        script(type='text/javascript') window.electron = window.require && window.require('electron')
        script(type='text/javascript', src='js/require.js')
        script(type='text/javascript', src='js/ace/ace.js')
        script(type='text/javascript', src='js/ace/ext-language_tools.js')
        script(type='text/javascript', src='js/ace/ext-statusbar.js')
        if debug
            script(type='text/javascript', src='js/main.js')
        else
            script(type='text/javascript', src='ide.js')