doctype html
html
    head
        title IDE
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        if debug
            link(href="css/bootstrap.css", rel="stylesheet")
            link(href="css/ide.css", rel="stylesheet")
        else
            link(href="ide.css", rel="stylesheet")
    body
        script(src='js/require.js')
        script(src='js/ace/ace.js')
        if debug
            script(src='js/main.js')
        else
            script(src='ide.js')