doctype html
html
    head
        title IDE
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="css/font-awesome.css", rel="stylesheet")
        link(href="css/theme-light.css", rel="stylesheet")
        script(type='text/javascript') window.electron = window.require && window.require('electron');
        script(type='text/javascript', src='js/require.js')
        script(type='text/javascript', src='js/ace/ace.js')
        script(type='text/javascript', src='js/ace/ext-language_tools.js')
        script(type='text/javascript', src='js/ace/ext-statusbar.js')
        script(type='text/javascript', src='js/ace/ext-whitespace.js')
        script(type='text/javascript', src='js/ace/ext-modelist.js')
        script(type='text/javascript', src='js/main.js')
    body