@import "Core";

$tablayout-tabspadding: 4px;
$tablayout-tabsheight: 26px;
$tablayout-tabsborder: 1px;

.tablayout {
  @include pos-absolute(0,0,0,0);
}

.tablayout-tabs {
  overflow: hidden;
  white-space: nowrap;
}

.tablayout-content {
  overflow: auto;
}

.tablayout-tab {
  cursor: default;
  display: inline-block;
  margin: 0 6px;
  padding: 4px;
  background:#F6F6F6;
  height: $tablayout-tabsheight - $tablayout-tabsborder;
  vertical-align: top;
  border: 1px solid $border-color;
  border-bottom: 0;
}

.tablayout-tab.active, .tablayout-tab.placeholder {
  background: $active-color;
}

.tablayout-tab.placeholder {
  width: 100px;
  pointer-events: none;
}

.tablayout-tabs-overflow::before, .tablayout-tabs-overflow::after {
    content:'';
    position: absolute;
    width: 30px;
    height: 26px;
    top: 0;
    font-size: 19px;
    z-index: 1;
}

.tablayout-tabs-overflow::after {
    text-align: right;
    right: 0;
    background: linear-gradient(to left, #f6f6f6 75%, rgba(192,192,192,0) 100%)
}

.tablayout-tabs-overflow::before {
    text-align: left;
    left: 0;
    background: linear-gradient(to right, #f6f6f6 75%, rgba(192,192,192,0) 100%)
}

.tablayout-top > .tablayout-tabs {
  @include pos-absolute($tablayout-tabspadding,0,auto,0);
  height: $tablayout-tabsheight;
  border-bottom: $tablayout-tabsborder solid $border-color;
}

.tablayout-top > .tablayout-content {
  @include pos-absolute($tablayout-tabsheight + $tablayout-tabspadding,0,0,0);
}

.tablayout-right > .tablayout-tabs {
  @include pos-absolute(0,$tablayout-tabspadding,0,auto);
  width: $tablayout-tabsheight;
  border-left: $tablayout-tabsborder solid $border-color;
}
.tablayout-right > .tablayout-content {
  @include pos-absolute(0,$tablayout-tabsheight + $tablayout-tabspadding,0,0);
}
.tablayout-right > .tablayout-tabs > div {
  margin-top: - $tablayout-tabsheight;
  transform: rotate(0.25turn);
  transform-origin: bottom left;
}

.tablayout-bottom > .tablayout-tabs {
  @include pos-absolute(auto,0,$tablayout-tabspadding,0);
  height: $tablayout-tabsheight;
  border-top: $tablayout-tabsborder solid $border-color;
}

.tablayout-bottom > .tablayout-content {
  @include pos-absolute(0,0,$tablayout-tabsheight + $tablayout-tabspadding,0);
}
.tablayout-bottom > .tablayout-tabs > div > .tablayout-tab {
  border-top: 0;
}

.tablayout-left > .tablayout-tabs {
  @include pos-absolute(0,auto,0,$tablayout-tabspadding);
  width: $tablayout-tabsheight;
  border-right: $tablayout-tabsborder solid $border-color;
}
.tablayout-left > .tablayout-content {
  @include pos-absolute(0,0,0,$tablayout-tabsheight + $tablayout-tabspadding);
}
.tablayout-left > .tablayout-tabs > div {
  margin-top: - $tablayout-tabsheight;
  transform: rotate(0.25turn);
  transform-origin: bottom left;
}
.tablayout-left > .tablayout-tabs > div > .tablayout-tab {
  transform: rotate(0.5turn);
}
