@import "Core";

$tablayout-tabspadding: 4px;
$tablayout-tabsheight: 26px;
$tablayout-tabsborder: 1px;

@mixin tabborder($background-color, $border-color) {
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='36' height='26'>"
    +"<path d='M0 26 C 9 26, 5 0, 16 0 L20 0 C 31 0, 27 26, 36 26 L 0 26 Z' fill='%23" + str-slice(""+ $background-color, 2) + "'/>"
    +"<path d='M0 26 C 9 26, 5 0.5, 16 0.5 L20 0.5 C 31 0.5, 27 26, 36 26' stroke='%23" + str-slice(""+ $border-color, 2) + "' fill='none'/>"
  +"</svg>") 26 16 0 fill stretch;
}

.tablayout {
  @include pos-absolute(0,0,0,0);
}

.tablayout-tabs {
  overflow: hidden;
  white-space: nowrap;
}

.tablayout-content {
  overflow: auto;
}

.tablayout-tab {
  position: relative;
  cursor: default;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  padding: 4px;
  height: $tablayout-tabsheight - $tablayout-tabsborder;
}
.tablayout-tab:first-child {
  transition: margin-left 0.2s;
}

.tablayout-tabs > div {
  margin: 0 10px;
  height: 26px;
  position: relative;
}

.tablayout-tab > * {
  position: relative;
}

.tablayout-tabs > div::before, .tablayout-tabs > div::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 1px;
  width: 16px;
  z-index:2;
  pointer-events: none;
}
.tablayout-tabs > div::before {
  background: linear-gradient(to right, $background-color 0%,rgba(255,255,255,0) 100%);
  left: -10px;
}
.tablayout-tabs > div::after {
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,$background-color 100%);
  right: -10px;
}

.tablayout-tab::before {
  content: '';
  position: absolute;
  top: 0;
  bottom:-1px;
  left: -12px;
  right: -12px;
  border-style: solid;
  border-width: 26px 16px 0px;
  @include tabborder($disable-color, $border-color);
}
.tablayout-tab.active {
  z-index: 1;
}
.tablayout-tab.ghost {
  opacity: 0.5;
}
.tablayout-tab.active::before {
  @include tabborder($background-color, $border-color);
}

.tablayout-tab.placeholder {
  z-index: 2;
  width: 100px;
  pointer-events: none;
}

.tablayout-tabs-overflow::before, .tablayout-tabs-overflow::after {
    content:'';
    position: absolute;
    width: 30px;
    height: 26px;
    top: 0;
    font-size: 19px;
    z-index: 1;
}

.tablayout-tabs-overflow::after {
    text-align: right;
    right: 0;
    background: linear-gradient(to left, #f6f6f6 75%, rgba(192,192,192,0) 100%)
}

.tablayout-tabs-overflow::before {
    text-align: left;
    left: 0;
    background: linear-gradient(to right, #f6f6f6 75%, rgba(192,192,192,0) 100%)
}
.tablayout-tabs::after {
  content: '';
  display: block;
  background: $border-color;
}
.tablayout-top > .tablayout-tabs {
  @include pos-absolute($tablayout-tabspadding,0,auto,0);
  height: $tablayout-tabsheight;
}
.tablayout-top > .tablayout-content {
  @include pos-absolute($tablayout-tabsheight + $tablayout-tabspadding,0,0,0);
}
.tablayout-top > .tablayout-tabs::after {
  @include pos-absolute(auto,0,0,0);
  height: 1px;
}
.tablayout-top > .tablayout-tabs > div > .tablayout-tab {
  border-bottom: 0;
}

.tablayout-right > .tablayout-tabs {
  @include pos-absolute(0,$tablayout-tabspadding,0,auto);
  width: $tablayout-tabsheight;
}
.tablayout-right > .tablayout-content {
  @include pos-absolute(0,$tablayout-tabsheight + $tablayout-tabspadding,0,0);
}
.tablayout-right > .tablayout-tabs > div {
  margin-top: - $tablayout-tabsheight;
  transform: rotate(0.25turn);
  transform-origin: bottom left;
}
.tablayout-right > .tablayout-tabs::after {
  @include pos-absolute(0,0,0,auto);
  width: 1px;
}

.tablayout-bottom > .tablayout-tabs {
  @include pos-absolute(auto,0,$tablayout-tabspadding,0);
  height: $tablayout-tabsheight;
}
.tablayout-bottom > .tablayout-content {
  @include pos-absolute(0,0,$tablayout-tabsheight + $tablayout-tabspadding,0);
}
.tablayout-bottom > .tablayout-tabs > div > .tablayout-tab {
  border-top: 0;
}
.tablayout-bottom > .tablayout-tabs::after {
  @include pos-absolute(0,0,auto,0);
  height: 1px;
}
.tablayout-bottom > .tablayout-tabs > div > .tablayout-tab::before {
  transform: rotate(0.5turn);
  transform-origin: 50% 50%;
}

.tablayout-left > .tablayout-tabs {
  @include pos-absolute(0,auto,0,$tablayout-tabspadding);
  width: $tablayout-tabsheight;
}
.tablayout-left > .tablayout-content {
  @include pos-absolute(0,0,0,$tablayout-tabsheight + $tablayout-tabspadding);
}
.tablayout-left > .tablayout-tabs > div {
  margin-top: - $tablayout-tabsheight;
  transform: rotate(0.25turn);
  transform-origin: bottom left;
}
.tablayout-right > .tablayout-tabs::after {
  @include pos-absolute(0,auto,0,0);
  width: 1px;
}
.tablayout-left > .tablayout-tabs > div > .tablayout-tab {
  transform: rotate(0.5turn);
}

.tablayout-content-loading {
    background-repeat: no-repeat;
    background-size: 30% 2px;
    background-image:
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNg6Pz/HwAEnQKI7jrFOwAAAABJRU5ErkJggg==);
    background-position: 0 bottom;
    animation: tablayout-content-loading  1s ease infinite;
}

@keyframes tablayout-content-loading {
    0%{background-position:-50% 100%; }
    100%{background-position:150% 100%;}
}
