$border-color: #e7e7e7;
$background-color: #fcfcfc;
$active-color: #f1f1f1;

$text-color: #333333;
$text-soft-color: #7b7b7b;

$note-color: #5b8acd;
$warning-color: #f0ad4e;
$error-color: #d9534f;
$error-background-color: #d9534f;
$success-background-color: #2EBA30;