@import "Core";

.tree {
  padding: 4px;
}
.tree-childs {
  margin-left: 10px;
}
.tree-item {
  white-space: nowrap;
}
.tree-item-name-canexpand {
  cursor: s-resize;
}
.tree-item-name-cancollapse {
  cursor: n-resize;
}
.tree-item-closed > .tree-childs {
  display: none;
}
.tree-item-file {
  cursor: pointer;
}
.tree-item-file:hover {

}

.tree-item > :first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}
.tree-item > :first-child:hover {
  background:$active-color;
  border-radius: 2px;
}
.tree-item > :first-child:focus {
  background:#red;
}

