@import "Core";

.tree {
  padding: 4px;
}
.tree-childs {
  margin-left: 10px;
}
.tree-item {
  white-space: nowrap;
}
.tree-item > .glyphicon {
  margin-right: 4px;
}
.tree-item-closed > .tree-childs {
  display: none;
}
.tree-item-file {
  cursor: pointer;
}
.tree-item-file:hover {

}

